.welcome-container {
  background-color:#F7F9FB; 
  background-position: 0%;
  background-size: cover;
}

.welcome-text {
  font-size: 48px;
  color: #687864; 
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding-top: 2% ;
  text-align: center;
  margin: 0%;
}

.welcome-text.visible {
opacity: 1;
  }

.welcome-x {
  font-size: 28px;
  color: #8FC1E3; 
  opacity:0;
  transition: opacity 1.5s ease-in-out;
  text-align: center;
  /* background-color: #f0f0f0;  */
  background-position: 0%;
  }

.welcome-x.margin {
  opacity:1;
}

.introduction{
  font-size: 48px;
  color: #5085A5; 
  opacity:0;
  transition: opacity 3s ease-in-out;
  text-align: center;
  margin-top: 9%;
  }

.introduction.visible {
opacity:1;
  }

.introduction-text{
  font-size: 28px;
  color: #8FC1E3; 
  text-align: center;
  margin-top: 3%;
  }

  .start-btn{
    margin-left:3%;
    font-size: 25px;
    color:#F7F9FB; 
    text-align: center;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
      }
.start-btn:hover {
background-color:#F7F9FB;
color:#687864;
height: 30px;
border-radius: 20px;
}
.start-btns{
  margin-left:9%;
  font-size: 28px;
  color: #F7F9FB; 
  text-align: center;
  margin-top: 1.75%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 100px;
  height: 50px;
    }
.start-btns:hover {
background-color:#F7F9FB;
color:#687864;
height: 30px;
border-radius: 20px;
}

.bar{
  display: flex;
  background-color: #31708E;
  height: 100px;
}

.img{
  width: 19%;
  height: 19%;
  object-fit: cover;
  margin-top: 6%;
  margin-left:40%;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
.weblogo{
  opacity:1;
  width: 19%;
  height: 19%;
  object-fit: cover;
  margin-top: 6%;
  margin-left:39.5%;
}