body{
    margin: 0;
    padding: 0;
    background-color:#F7F9FB;
}
.HomeContainer{
display: flex;
background-color: #31708E;
height: 110px;
}

.Bt{
    margin-left:3%;
    font-size: 25px;
    color:#F7F9FB; 
    text-align: center;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 100px;
}

.Bt:hover{
background-color:#F7F9FB;
color:#687864;
height: 30px;
border-radius: 20px;
}
.SubjectContainer{
    background-color:#8FC1E3;
    background-position: 0%;
    border: 2px solid #5085A5;
    height: 20vh;
    width: 60vh;
    margin-top: 65px;
    margin-left: 30px;
}

.SubjectContaine1{
    display: flex;
    align-items: center;
    margin-left: 10px;  
}
.SubjectContainer2{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.balth1,.balth2,.balth3,.balth4,.balth5{
    height: 4vh;
    width: 2.5vh;
    background-color:#F7F9FB;
    margin-left: 22px;
    margin-top: 5px;
    border-radius: 10px;
    border: 3px solid#687864;
}
.SubjectHeading{
    font-size: 60px;
    color:#31708E;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 21px;
    margin-bottom: 5px;
}
.LearnBtn{
    height: 5vh;
    width: 10vh;
    margin-left:22vh;
}

.StartBtn{
    width: 115.5px;
    height: 45px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:104px;
    margin-top: 5px;
}

.LearnBtn1{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:12.5vw;
    margin-top: 20px;
}

.LearnBtn2{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:14.77vw;
    margin-top: 20px;
}

.LearnBtn3{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:5vw;
    margin-top: 20px;
}

.LearnBtn4{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:7.5vw;
    margin-top: 20px;
}

.LearnBtn5{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:15vw;
    margin-top: 20px;
}

.LearnBtn6{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:5vw;
    margin-top: 20px;
}


.logo{
    height: 90px;   
    width: 11vh;
    margin-left: 2vh;
    margin-top: 1vh;
    border-radius: 50px;

}

.SubjectHeading2{
    font-size: 60px;
    color:#31708E;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 5px;
}

.HomeContainer1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 7%;
}

.uploadBtn{
    width: 115.5px;
    height: 45px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left:15vw;
    margin-top: 20px;
}
