.SignUpPage{
    background-color:#f0f0f0;
    background-position: 0%;
    height: 100vh;
}

.input{
    width: 400px;
    height:60px;
    margin: 15px 15px 15px 15px;
    border: 2px solid #333;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
} 
/* .input:hover{
    background-color:;

}  */

.buttonSubmit{
    width: 410px;
    height:60px;
    margin: 10px 10px 10px 10px;
    border: 2px solid #333;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.buttonSubmit:hover{
    background-color: rgb(79, 244, 115);
}

.form{
    margin-left:35%;
    margin-top: 2%;
} 

.SignupHeading{
    margin-left: 40%;
    margin-top: 0%;
    padding-top: 5%;
    color:#333;
    font-size: 80px;
}

.buttonGoogle{
    width: 310px;
    height:60px;
    margin: 10px 10px 10px 10px;
    border: 2px solid #333;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    margin-left:25%;
}
.buttonGoogle:hover{
    background-color: rgba(0, 217, 255, 0.456);
    color: #333;
}

.buttonLogin{
    width: 310px;
    height:60px;
    margin: 10px 10px 10px 10px;
    border: 2px solid #333;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.buttonLogin:hover{
    background-color: rgba(0, 217, 255, 0.456);
    color: #333;
}